<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BETA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="header">
        <div id="appname" onclick="location.replace('/')"><h1>BETA</h1><p>Jūsų užrašai</p></div>
        <div id="middle">
            {% if user.is_authenticated %}
                {% if user.username == 'guest' %}
                     Sėkmingo naudojimo!</br>
                     Jei patinka BETA - užsiregistruokite :)
                {% else %}
                    Sėkmingo naudojimo,</br>
                    {{ user.username }}
                {% endif %}
            {% else %}
            Sveiki atvykę!</br>
            Prisijunkite, kad galėtumėte tęsti
            {% endif %}
        </div>
        <div id="navbar">
            {% if user.is_authenticated == False %}
            <div class="nav-list"><a href="#">Prisijungti</a></div>
            <div class="nav-list"><a href="#">Registruotis</a></div>
            {% else %}
            {% if user.username == 'guest' %}
            <div class="nav-list"><a href='/guest'>Pagrindinis</a></div>
            {% else %}
            <div class="nav-list"><a href='/'>Pagrindinis</a></div>
            {% endif %}
            <div class="nav-list"><a href="/logout">Atsijungti</a></div>
            {% endif %}
        </div>
    </div>
    <div id="main">
        <div id="admin-nav">
            <h3>Užrašų kategorijos</h3>
            <ul style="overflow:auto;margin-bottom:auto">
                {% if user.is_authenticated and user.username != 'guest' %}
                    {% if user.categories %}
                        {% for x in user.categories %}
                            <a href="/categories?cat={{ x.id }}"><li>{{ x.name }}</li></a>
                        {% endfor %}
                    {% else %}
                        <a href="/category"><li>Sukurkite savo pirmą kategoriją</li></a>
                    {% endif %}
                {% elif user.username == 'guest' %}
                    <a href="#"><li>Kad galėtumėte naudotis kategorijomis - prisijunkite</li></a>
                {% else %}
                <a href="#"><li>Čia matysite savo užrašus</li></a>
                {% endif %}
            </ul>
            {% if user.username != 'guest' and user.is_authenticated and user.notes %}
            <div id="search">
                <h3>Paieška</h3>
                <div class="search-item">
                    <input placeholder="Kategorijos/užrašo pavadinimas" oninput="search(this)" onclick="search(this)">
                    <div class="search-list">
                        {% for x in user.categories %}
                            <div onclick="window.location.replace('/categories?cat={{x.id}}')" class="search-list-item" style="display:none"><b>K:</b> {{ x.name }}</div>
                        {% endfor %}
                        {% for x in user.notes %}
                            <div onclick="window.location.replace('/note?note={{x.id}}')" class="search-list-item" style="display:none"><b>U:</b> {{ x.name }}</div>
                        {% endfor %}
                    </div>
                    <script>
                        function search(element){
                            let searchList = document.getElementsByClassName('search-list')[0]
                            let searchItems = document.getElementsByClassName('search-list-item')
                            if(element.value != '') searchList.style.display = 'flex'
                            else return searchList.style.display = 'none'
                            for(let x=0;x<searchItems.length;x++){
                                if(searchItems[x].innerText.toLowerCase().indexOf(element.value.toLowerCase()) != -1){
                                    searchItems[x].style.display = 'block'
                                }
                                else{
                                    searchItems[x].style.display = 'none'
                                }
                            }
                        }
                        document.getElementsByTagName('body')[0].addEventListener("click", function(){
                            let searchList = document.getElementsByClassName('search-list')[0]
                            if(window.event.target != searchList) return searchList.style.display = 'none'
                        })
                    </script>
                </div>
            </div>
            {% endif %}
            <div id="admin-options">
                {% if user.is_authenticated and user.username != 'guest' %}
                <a href="/category"><div class="option">Kurti kategoriją/užrašą</div></a>
                <a href="/"><div class="option">Peržiūrėti užrašus</div></a>
                {% endif %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            <h1>Jūsų užrašai, {{ user.username }}</h1>
            <div class="cat-wrapper">
                {% for x in user.notes %}
                <div class="categories">
                    <h1 onclick="location.replace('/note?note={{x.id}}')">{{x.name}}</h1>
                    <div class="notes-pictures">
                        {% if x.pictures %}
                            {% for y in x.pictures %}
                                <div onclick="document.getElementById('{{ y.id }}').showModal()"><img style="height:100%;width:100%" src="{{ url_for('views.get_image', filename=y.name) }}"></div>
                                <dialog class="picture" id="{{ y.id }}">
                                    <img src="{{ url_for('views.get_image', filename=y.name) }}">
                                    <div class="control">
                                        <div style="border-right: solid rgba(0, 0, 0, 0.356) 0.1px" onclick="document.getElementById('d{{y.id}}').click()"><a href="{{ url_for('views.get_image', filename=y.name) }}" id="d{{y.id}}" download hidden></a>Atsisiųsti nuotrauką</div>
                                        <div onclick="document.getElementById('{{ y.id }}').close()">Išjungti</div>
                                    </div>                            
                                </dialog>
                            {% endfor %}
                        {% if x.pictures |length < 4 %}
                            {% for a in range(0,4-x.pictures |length) %}
                            <div onclick="location.replace('/note?note={{ x.id }}')">+</div>
                            {% endfor %}
                        {% else %}
                            <div onclick="location.replace('/note?note={{ x.id }}')">+</div>
                        {% endif %}
                        {% else %}
                        <div>+</div>
                        <div>+</div>
                        <div>+</div>
                        <div>+</div>
                        {% endif %}
                    </div>
                    <p>{{x.note}}</p>
                </div>
            {% endfor %}
            <script>
                console.log('hello')
                function openDialog(dialog){
                    document.getElementsByClassName('picture')[parseInt(dialog)-1].showModal()
                }
            </script>
            </div>
        </div>
        {% endblock %}
        </div>
    </div>
</body>
</html>