{% extends "base.html" %}
{% block content %}
{% if user.notes %}
<div class="login reg">
{% else %}
<div class="login">
{% endif %}
    <h1>Kurti kategoriją</h1>
    <form>
        <div id="cat-create-info">
            Pavadinimas:</br>
            <input id="cat-name" maxlength="30">
            {% if user.notes %}
            </br>
            Įtraukti užrašus:</br>
            <input id='note-item' list="notes-list">
                <datalist id="notes-list">
                    <script>
                        var optionElements = []
                        let tempCount
                    </script>
                    {% for x in user.notes %}
                        <!--<option value="{{ x.name }} (ID: {{ x.id }})">{{ x.name }}</option>!-->
                        <script>
                            optionElements.push([document.createElement('option'), "{{ x.name }} (ID: {{ x.id }})", parseInt("{{x.id}}")])
                            tempCount = parseInt(optionElements.length) - 1
                            optionElements[tempCount][0].value = optionElements[tempCount][1]
                            document.getElementById('notes-list').appendChild(optionElements[tempCount][0])
                        </script>
                    {% endfor %}
                </datalist>
            </input></br>
            <label id="add-note-item" onclick="addNoteToList()">Įtraukti</label>
            {% endif %}
        </div>
        {% if user.notes %}
        <div>
            Įtraukti užrašai:</br>
            <div class="small-list-wrapper"></div>
            <script>
                function addNoteToList(){
                    let inputValue = document.getElementById('note-item')
                    let optionsList = document.getElementsByTagName('option')

                    if(inputValue.value == '') return inputValue.style.borderColor = 'red'
                    else inputValue.style.borderColor = 'rgba(0, 64, 255, 0.5)'

                    let isInList = 0
                    let noteId = 0
                    for(let x=0;x<optionElements.length;x++){
                        if(optionElements[x].indexOf(inputValue.value) != -1) {
                            isInList = 1
                            noteId = optionElements[x][2]
                            break
                        }
                    }

                    if(isInList == 1) document.getElementsByClassName('small-list-wrapper')[0].innerHTML += `<div class='small-list-item' onclick='removeItem(this)' id=${noteId}>${inputValue.value}</div>`
                    else {
                        childs = document.getElementsByClassName('small-list-wrapper')[0].childNodes
                        if(childs.length != 0){
                            for(let x=0;x<childs.length;x++){
                                if(childs[x].innerHTML.indexOf('<i style="color:red;font-size:0.5rem">NAUJAS</i>') != -1){
                                    return alert('Galima pridėti tik vieną naują užrašą.')
                                }
                            }
                        }
                        document.getElementsByClassName('small-list-wrapper')[0].innerHTML += `<div class='small-list-item' onclick='this.remove()'><i style='color:red;font-size:0.5rem'>NAUJAS</i> ${inputValue.value}</div>`
                    }
                    for(let x=0;x<optionsList.length;x++){
                        if(optionsList[x].value == inputValue.value){
                            document.getElementById('notes-list').removeChild(optionsList[x])
                            break
                        }
                    }
                    inputValue.value = ''
                }
                function removeItem(item){
                    for(let x=0;x<optionElements.length;x++){
                        if(optionElements[x][2] == item.id){
                            document.getElementById('notes-list').appendChild(optionElements[x][0])
                            break
                        }
                    }
                    item.remove()
                }
            </script>
        </div>
        <script>
            document.getElementsByClassName('login reg')[0].addEventListener('mouseover',firstCalc)
            function firstCalc(){
                document.getElementsByClassName('small-list-wrapper')[0].style.height = `${document.getElementById('cat-create-info').offsetHeight}px`
                document.getElementsByClassName('small-list-wrapper')[0].style.width = `${document.getElementById('cat-create-info').offsetWidth}px`
                this.removeEventListener('mouseover', firstCalc)
            }
        </script>
        {% endif %}
    </form>
    {% if user.notes %}
    <div class="login-btn" onclick="createCategory(0)">Sukurti</div>
    {% else %}
    <div class="login-btn" onclick="createCategory(1)">Sukurti</div>
    {% endif %}
</div>
<div class="login reg">
    <h1>Kurti užrašą</h1>
    <form>
        <div>
            Pavadinimas:</br>
            <input id="note-name"></br></br>
            Pridėti paveiksliuką <i id="imgCount">(0)</i>:
            <label for="cat-picture">Pridėti</label>
            <input type="file" accept="image/png, image/jpeg" style="border:none" id="cat-picture" multiple>
        </div>
        <div>
            Tekstas:</br>
            <textarea id="create-note"></textarea>
        </div>
    </form>
    <div class="login-btn" onclick="createNote()">Sukurti</div>
</div>
<script src="{{ url_for('static', filename='category.js')}}"></script> 
<script>
document.getElementById('cat-picture').addEventListener('change', function(){
    document.getElementById('imgCount').innerText = document.getElementById('cat-picture').files.length
    //alert(document.getElementById('cat-picture').files[0].size)
})
</script>
{% endblock %}